.board {
    &__item {
        width: 321px;
        height: 252px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        cursor: pointer;
        padding-bottom: 22px;
        background-color: #ffffff;
        border-radius: 8px;
    }

    &__image {
        width: 100%;
        height: 122px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 8px;
    }

    &__category {
        font-weight: bold;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: -0.02px;
        text-transform: uppercase;
        color: #1E71BB;
    }

    &__title {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.11px;
        display: -webkit-box;

        //TODO: show whole title?
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }

    &__author {
        font-weight: bold;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: -0.07px;
        color: #555;
    }
}