.board {
    display: flex;
    flex-direction: column;
    margin-top: 138px;
    margin-left: 263px;
    width: 1095px;

    &__category-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.15px;
        margin-bottom: 16px;
    }

    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.15px;
        margin-bottom: 16px;
    }

    &__two-col {
        display: grid;
        grid-template-columns: repeat(2, 321px);
        gap: 22px;
        margin-bottom: 22px;
    }

    &__three-col {
        display: grid;
        grid-template-columns: repeat(3, 321px);
        gap: 22px;
    }

    &__loading {
        font-size: 14px;
        font-weight: normal;
        color: #888;
        margin-left: 8px;
    }

    @media (max-width: 768px) {
        position: sticky;
        top: 209px;
        margin: 209px;
        width: 343px;
        height: calc(100vh - 209px);
        overflow-y: auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        &__two-col,
        &__three-col {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 100%;
        }

        &__title {
            margin-left: 0;
        }

        &__category-title {
            display: none;
        }
    }
}