.newsbox {
    position: absolute;
    top: 238px;
    left: 948px;

    width: 321px;
    height: 570px;

    background: #ffffff;
    border-radius: 8px;
    /* keep rounded corners */
    box-shadow: 0px 1px 2px -1px #C8CAD1;
    /* Figma shadow */
    border: none;
    /* remove border if shadow is enough */

    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__content {
        flex: 1;
        overflow-y: auto;
        padding: 0 8px 0 0;
    }

    &__content::-webkit-scrollbar {
        width: 6px;
    }

    &__content::-webkit-scrollbar-thumb {
        background: #bbb;
        border-radius: 3px;
    }

    &__content::-webkit-scrollbar-track {
        background: transparent;
    }

    &__title {
        display: flex;
        align-items: center;
        margin-top: 19px;
        margin-left: 15px;
        margin-bottom: 12px;

        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        letter-spacing: -0.11px;
        color: #1d1d1b;
        height: 21px;

        span {
            margin-left: 10px;
        }
    }

    &__icon {
        position: relative;
        display: inline-block;

        .outer {
            display: block;
        }

        .inner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__item {
        width: 281px;
        height: 59px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 15px;
        margin-bottom: 12px;
    }

    &__time {
        color: #1e71bb;
        font-weight: bold;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: -0.02px;
        text-transform: uppercase;
        margin-bottom: 3px;
    }

    &__article {
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        letter-spacing: -0.11px;
        color: #000000;
        width: 100%;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }

    @media (max-width: 768px) {
        position: static;
        margin: 209px auto 0 auto;
        width: 343px;
        height: calc(100vh - 209px);
        /* fill remaining viewport */
        overflow-y: auto;
        /* enable scrolling */
        border-radius: 8px;
        /* keep rounded corners */
        box-shadow: 0px 1px 2px -1px #C8CAD1;
        /* Figma shadow */
        border: none;
        /* remove border if shadow is enough */
    }

}