.app-container {
    width: 1440px;
    margin: 0 auto;
    position: relative;

    @media (max-width: 768px) {
        width: 100%;
        max-width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}

.desktop-layout {
    display: block;
}

.mobile-layout,
.mobile-tabs {
    display: none;
}

@media (max-width: 768px) {
    .desktop-layout {
        display: none;
    }

    .mobile-layout {
        display: block;
    }

    .mobile-tabs {
        display: flex;
        justify-content: center;
        gap: 33px;
        position: fixed;
        top: 153px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;

        &__btn {
            height: 40px;
            font-size: 16px;
            font-weight: bold;
            color: #1D1D1B;
            background: none;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 40px;
                border-radius: 20px;
                z-index: -1;
            }

            &.active {
                color: #BB1E1E;
            }
        }

        .featured-btn {
            width: 102px;
        }

        .latest-btn {
            width: 81px;
        }

        .featured-btn.active::before {
            width: 102px;
            height: 40px;
            background: #BB1E1A;
            opacity: 0.1;
        }

        .latest-btn.active::before {
            width: 81px;
            height: 40px;
            background: #BB1E1A;
            opacity: 0.1;
        }
    }

    .mobile-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0;

        overflow: hidden;
        width: 100%;
    }
}