.app-container {
    width: 1440px;
    margin: 0 auto;
    position: relative;

    @media (max-width: 768px) {
        width: 100%; // full viewport width
        max-width: 100%; // no horizontal overflow
    }
}


.app-main {
    padding: 2rem;

    @media (max-width: 768px) {
        padding: 1rem; // smaller padding for mobile
    }
}