@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/InterVariable.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    font-family: "Inter", sans-serif;
}